bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/


*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/


*.fsi
*.fsx.lock
.fsx/
paket-files/
.paket/
paket.lock
.fable/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


## ----- JetBrains Rider / ReSharper -----
.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

ionide/
*.ionide/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

*.swp
*~.nib
local.properties
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

publish/

*.log